<mat-toolbar color="primary">
    <span [routerLink]="['/']">Lars Application</span>
	<span class="spacer"></span>
	<a [routerLink]="['/opret']" mat-button>Opret Underviser</a>
	<a [routerLink]="['/profile', 1]" mat-button>Underviser profile</a>
	<a [routerLink]="['/find']" mat-button>Find Underviser</a>
	<a [routerLink]="['/udbud']" mat-button>Udbud</a>
	<a [routerLink]="['/test']" mat-button>test</a>
</mat-toolbar>
<div id="body">
	<div></div>
	<div>
		<router-outlet></router-outlet>
	</div>
	<div></div>
</div>