<div class="mat-elevation-z8 container">
	<div class="loading-shade" *ngIf="isLoadingResults">
		<mat-spinner></mat-spinner>
	</div>
	<table class="table-container" mat-table [dataSource]="dataSource">

		<ng-container matColumnDef="fag">
			<th mat-header-cell *matHeaderCellDef> Fag </th>
			<td mat-cell *matCellDef="let element"> {{element.subject.title}} </td>
		</ng-container>

		<ng-container matColumnDef="uddannelse">
			<th mat-header-cell *matHeaderCellDef> Uddannelse </th>
			<td mat-cell *matCellDef="let element"> {{element.subject.education}} </td>
		</ng-container>

		<ng-container matColumnDef="underviser">
			<th mat-header-cell *matHeaderCellDef> Underviser </th>
			<td mat-cell *matCellDef="let element"> {{element.lecturer.name}} </td>
		</ng-container>

		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef> Status </th>
			<td mat-cell *matCellDef="let element"> {{"Ved ikke"}} </td>
		</ng-container>

		<ng-container matColumnDef="startdato">
			<th mat-header-cell *matHeaderCellDef> Startdato </th>
			<td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
		</ng-container>

		<ng-container matColumnDef="slutdato">
			<th mat-header-cell *matHeaderCellDef> Slutdato </th>
			<td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr [routerLink]="['/udbud-profile', row.id]" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
	</mat-paginator>
</div>