<mat-horizontal-stepper #stepper>
	<mat-step [stepControl]="firstFormGroup">
	  <form [formGroup]="firstFormGroup">
		<ng-template matStepLabel>Undervister info</ng-template>
		<mat-form-field>
		  <mat-label>Fornavn</mat-label>
		  <input matInput formControlName="firstName" required>
		  <mat-error *ngIf="firstFormGroup.controls['firstName'].hasError('required')">
			Fornavn er <strong>påkrævet</strong>
		  </mat-error>
		</mat-form-field>
		<mat-form-field>
		  <mat-label>Efternavn</mat-label>
		  <input matInput formControlName="lastName" required>
		  <mat-error *ngIf="firstFormGroup.controls['lastName'].hasError('required')">
			Efternavn er <strong>påkrævet</strong>
		  </mat-error>
		</mat-form-field>
		<mat-form-field>
		  <mat-label>Email</mat-label>
		  <input matInput type="email" formControlName="email" required>
		  <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
		  <mat-error *ngIf="firstFormGroup.controls['email'].hasError('email') && !firstFormGroup.controls['email'].hasError('required')">
			Indtast venligst en gyldig e-mailadresse
		  </mat-error>
		  <mat-error *ngIf="firstFormGroup.controls['email'].hasError('required')">
			Email er <strong>påkrævet</strong>
		  </mat-error>
		</mat-form-field>
		<mat-form-field>
		  <mat-label>Telefonnummer</mat-label>
		  <input matInput type="tel" formControlName="phoneNumber" required>
		  <mat-error *ngIf="firstFormGroup.controls['phoneNumber'].hasError('required')">
			Telefonnummer er <strong>påkrævet</strong>
		  </mat-error>
		</mat-form-field>
		<div>
		  <button mat-button matStepperNext>Næste</button>
		</div>
	  </form>
	</mat-step>
	<mat-step [stepControl]="secondFormGroup">
	  <form [formGroup]="secondFormGroup">
		<ng-template matStepLabel>Undervister Skills</ng-template>
		<app-uddannelse-input #ugInput></app-uddannelse-input>
		<button mat-button (click)="ugInput.reset()">reset</button>
		<mat-form-field>
		  <mat-label>Address</mat-label>
		  <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
				 required>
		</mat-form-field>
		<div>
		  <button mat-button matStepperPrevious>Tilbage</button>
		  <button mat-button matStepperNext>Næste</button>
		</div>
	  </form>
	</mat-step>
	<mat-step>
	  <ng-template matStepLabel>Done</ng-template>
	  <p>Du er nu færdig.</p>
	  <div>
		<button mat-button matStepperPrevious>Tilbage</button>
		<button mat-button (click)="stepper.reset()">Nulstil</button>
	  </div>
	</mat-step>
  </mat-horizontal-stepper>
  