<form [formGroup]="uddannelseFormGroup">
	<mat-form-field [id]="'uddannelse'">
		<mat-label>Uddannelse</mat-label>
		<input matInput [matAutocomplete]="auto" formControlName="uddannelse">
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let ug of filteredUddannelse | async" [value]="ug">
				<span>{{ug}}</span>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-form-field [id]="'fag'">
		<mat-label>Fag</mat-label>
		<input matInput [matAutocomplete]="auto1" formControlName="fag">
		<mat-autocomplete #auto1="matAutocomplete" >
			<mat-option class="big-option" *ngFor="let ug of filteredFag | async" [value]="ug.subject.subject" (onSelectionChange)="selectionChangeFag(ug, $event)">
				<span>{{ug.subject.subject}}</span><br>
				<small>{{ug.education}}</small>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</form>