<form [formGroup]="uddannelseFormGroup">
	<mat-form-field>
	  <mat-label>Uddannelse</mat-label>
	  <input matInput formControlName="uddannelse">
	  <!-- <mat-autocomplete #auto="matAutocomplete">
		<mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
		  <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
		  <span>{{state.name}}</span> |
		  <small>Population: {{state.population}}</small>
		</mat-option>
	  </mat-autocomplete> -->
	</mat-form-field>
	<mat-form-field>
	  <mat-label>Fag</mat-label>
	  <input matInput formControlName="fag">
	</mat-form-field>
  </form>
