<mat-form-field class="example-chip-list">
	<mat-label>Dato</mat-label>
	<mat-chip-list #chipList>
	  <mat-chip *ngFor="let date of dateList" [selectable]="selectable"
			   [removable]="removable" (removed)="remove(date)">
		{{date | date}}
		<button matChipRemove *ngIf="removable">
		  <mat-icon>cancel</mat-icon>
		</button>
	  </mat-chip>
	  <input placeholder="Ny dato..."
	  		 [formControl]="dateCtrl"
			 [matChipInputFor]="chipList"
			 [matDatepicker]="datepicker"
			 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			 [matChipInputAddOnBlur]="addOnBlur"
			 (dateInput)="addDate($event)"
			 (matChipInputTokenEnd)="add($event)">
	</mat-chip-list>
	<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
	<mat-datepicker #datepicker></mat-datepicker>
</mat-form-field>