<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar mb-4" style="background-color: #3F51B5;">
            <div class="container text-white">
                <a asp-page="/admin/users" style="text-decoration:none; color:white;">
                    <h1>Admin Tools</h1>
                </a>
                @if(User.Identity.IsAuthenticated)
                {
                    <div class="btn-group">
                        <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/images/icons/down.png" width="25" height="25" alt="indstillinger"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" data-dismiss="static">
                            <a class="dropdown-item" asp-page="/account/updatePassword">Skift adgangskode</a>
                            <a class="dropdown-item" asp-page="/account/logout">Log ud</a>
                        </div>
                    </div>
                }        
            </div>>
        </nav>
        <div class="container">
            @RenderBody()          
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        @await RenderSectionAsync("Scripts", false)
    </body>
</html>